/* ==UserStyle==
@name           Userstyles.world: Sidebar Nav Tweaks
@namespace      https://github.com/paw
@homepageURL    https://github.com/paw/userstyles
@supportURL     https://github.com/paw/userstyles/issues
@version        1.0.0
@description    Tweaks for Userstyles.world's Sidebar Navigation Layout
@author         briar
@preprocessor   stylus

@var checkbox top_bar_nav "Top Bar for Large Screen Sizes" 1
@var select   top_bar_justify   "Top Bar Content Justify"   {
  "Center": "center",
  "Space-Around": "space-around",
  "Space-Evenly": "space-evenly",
  "Space-Between": "space-between",
  "Flex-End": "flex-end",
  "Flex-Start": "flex-start"
}
@var checkbox right_side_nav "Move Sidebar to Right Side" 1
@var text layout_width "Custom Layout Max Width" 80rem
@var text sidebar_width "Custom Sidebar Width" 240px
@var text card_width "Custom Card Min Width" 250px
==/UserStyle== */

@-moz-document domain("userstyles.world") {
    [data-flags*="sidebar"] {
        --layout-max-width: layout_width;
        --sidebar-width: sidebar_width;
        --card-min-width: card_width;
    }
    [data-flags*="sidebar"] #navbar {
        background: var(--bg-2);
    }
    
    if (right_side_nav) {
        @media screen and (min-width: 888px) {
            #navbar {
                left: unset;
                right: 0;
                border-right: 0px;
                border-left: 1px solid var(--bg-3);
            }
            [data-flags*="sidebar"] {
                padding-left: unset;
                padding-right: var(--sidebar-width);
            }
        }
    }
    
    if (top_bar_nav) {
        @media screen and (min-width: 1150px) {
            [data-flags*="sidebar"] {
                --sidebar-width: 0;
                flex-flow: column wrap;
            }
            [data-flags*="sidebar"] #navbar {
                position: sticky;
                z-index: 9;
                top: 0;
                bottom: unset;
                border-bottom: 1px solid var(--bg-4);
                --sidebar-width: 100%;
                flex-flow: row nowrap;
                justify-content: space-between;
            }
            [data-flags*="sidebar"] #navbar .menu {
                flex-flow: row nowrap;
                justify-content: flex-end;
                gap: 0px;
            }
            [data-flags*="sidebar"] #navbar .Dropdown, #navbar .Dropdown ul {
                display: flex;
                flex-direction: row;
            }
            [data-flags*="sidebar"] #navbar .Dropdown ul, #navbar .Dropdown:hover > ul {
                display: flex !important;
            }
            [data-flags*="sidebar"] #navbar .Dropdown .btn.icon {
                display: none;
            }
        }
        @media screen and (min-width: 1500px) {
            [data-flags*="sidebar"] #navbar {
                justify-content: top_bar_justify;
                grid-gap: 5rem;
            }
        }
    }
}
